body {
    background-color: white;
}
header{
    color: aliceblue;
    background-color: black;
    font-size: 80px;
    text-align: center;
}
table {
    padding-top: 80px;
    align-items: center;
    margin: 0 auto;
}
th {
    padding: 20px;
    
}