body {
    background-color: white;
}
.calculadora {
    border: solid;
    margin: 0 auto;
    width: 600px;
    border-radius: 10px;
    align-items: auto 0;
    
    
}
label {
    width: 580px;
    height: 80px;
    font-size: 30px;
    border: solid 1px;
    display: inline-block;
    margin-bottom: 10px;
    text-align: right;
    
   
}
#teclas {
    grid-template-columns: auto auto auto ;
    display: grid;
}
.numero {
    background-color: darkorange;
    border-radius: 10px;
    box-shadow: 0;
}

.caracterEspecial {
    background-color: rgb(189, 189, 189);
    border-radius: 10px;
    box-shadow: 0;
}

.operaciones {
    background-color: rgb(248, 217, 38);
    border-radius: 10px;
    box-shadow: 0;
}
button {
    width: 140px;
    height: 100px;
    margin-bottom: 5px;
}
#igual {
    grid-row: span 2;
    height: 200px;
}